<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.jessefu.module_entrance">

    <application
        android:name=".EntranceApp"
        android:supportsRtl="true"
        >

        <activity android:name=".entrance.view.EntranceActivity">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"></action>

                <defaultCategory
                    android:name="android.intent.defaultCategory.DEFAULT"></defaultCategory>
            </intent-filter>
        </activity>
    </application>
</manifest>